<form action="/users/login" method="post">
  <% if (typeof errMessage !== "undefined") { %>
    <span><%= errMessage %></span>
  <% } %>
  <label for="login">Login</label><br>
  <input type="text" name="login" <%= (typeof login !== "undefined") ? `value=${login}` : "" %>><br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" <%= (typeof password !== "undefined") ? `value=${password}` : "" %>><br><br>
  <input type="submit" value="Register">
</form>;