<div id="initial">
  <p>Play with friends: </p>
  <button onclick="createGame()">Host Game</button>
  <input class="form-control" placeholder="Enter Code" type="text" name="" id="roomUniqueId">
  <button class="form-control" onclick="joinGame()">Join Hosted Game</button>
  <p>or</p>
  Play online:
  <button id="onlineButton" onclick="onlineGame()">Online</button>
</div>
<div id="gamePlay" style="display: none;">
  <div id="waitingArea"></div>
  <div id="gameArea">
    You:
    <div id="player1Choice">
      <button onclick="sendChoice('Rock')">Rock</button>
      <button onclick="sendChoice('Paper')">Paper</button>
      <button onclick="sendChoice('Scissors')">Scissors</button>
    </div>
    Opponent:
    <div id="player2Choice">
      <p id="opponentState">Waiting for Opponent...</p>
    </div>
  </div>
  <div id="winnerArea"></div>
  <div id="roundsArea" style="display: none;">Rounds left: </div>
  <div id="back" style="display: none;">
    <p><a href="/game">Get back</a> to play an other game or <a href="/">go to main page</a></p>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/script.js"></script>