<style>
  .selected {
    background-color: green;
  }
</style>

<div id="message">Waiting for an  opponent...</div>

<div class="board">
  <button id="rock">Rock</button>
  <button id="paper">Paper</button>
  <button id="scissors">Scissors</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/script.js"></script>
