<div id="initial">
  <button onclick="createGame()">Create Game</button>
  <input class="form-control" placeholder="Enter Code" type="text" name="" id="roomUniqueId">
  <button class="form-control" onclick="joinGame()">Join Game</button>
</div>
<div id="gamePlay" style="display: none;">
  <div id="waitingArea"></div>
  <div id="gameArea">
    You:
    <div id="player1Choice">
      <button onclick="sendChoice('Rock')">Rock</button>
      <button onclick="sendChoice('Paper')">Paper</button>
      <button onclick="sendChoice('Scissors')">Scissors</button>
    </div>
    Opponent:
    <div id="player2Choice">
      <p id="opponentState">Waiting for Opponent...</p>
    </div>
  </div>
  <div id="winnerArea"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/script.js"></script>